#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: initial;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-left-top .ant-input-textarea {
  height: 100%;
}

.app-left-top .ant-input-textarea textarea.ant-input {
  height: 100% !important;
}

/* Ensure SVG adapts to container */
.svg-container svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
